<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>90FEB760-6DE5-46E5-A8E9-582C63BAB3AD</key>
		<dict>
			<key>HV</key>
			<integer>10</integer>
			<key>oH</key>
			<integer>70</integer>
			<key>oV</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSOffsetHorizontal</key>
		<integer>40</integer>
		<key>GSOffsetMakeStroke</key>
		<integer>1</integer>
		<key>GSOffsetVertical</key>
		<integer>40</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>90FEB760-6DE5-46E5-A8E9-582C63BAB3AD</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>J</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>h</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>pi</string>
		<string>kadeva</string>
		<string>khadeva</string>
		<string>ddadeva</string>
		<string>tadeva</string>
		<string>thadeva</string>
		<string>dadeva</string>
		<string>dhadeva</string>
		<string>padeva</string>
		<string>bhadeva</string>
		<string>vadeva</string>
		<string>ddadeva_viramadeva_ddadeva</string>
		<string>adeva</string>
		<string>ideva</string>
		<string>edeva</string>
		<string>aasigndeva</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>zerosuperior</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>space</string>
		<string>nbspace</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>euro</string>
		<string>florin</string>
		<string>liraTurkish</string>
		<string>ruble</string>
		<string>sterling</string>
		<string>yen</string>
		<string>Ohm</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>bulletoperator</string>
		<string>divide</string>
		<string>divisionslash</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>increment</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>micro</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>lozenge</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>estimated</string>
		<string>literSign</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>acute.cap</string>
		<string>caron.alt</string>
		<string>grave.cap</string>
		<string>commaaccent</string>
		<string>firsttonechinese</string>
		<string>bowl</string>
		<string>asteriskline</string>
		<string>ausign_ra_virama_anusvara</string>
	</array>
</dict>
</plist>
