<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>90FEB760-6DE5-46E5-A8E9-582C63BAB3AD</key>
		<dict>
			<key>HV</key>
			<integer>10</integer>
			<key>oH</key>
			<integer>70</integer>
			<key>oV</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSOffsetHorizontal</key>
		<integer>40</integer>
		<key>GSOffsetMakeStroke</key>
		<integer>1</integer>
		<key>GSOffsetVertical</key>
		<integer>40</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>90FEB760-6DE5-46E5-A8E9-582C63BAB3AD</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<true/>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<false/>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<true/>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>a</string>
				<string>aacute</string>
				<string>abreve</string>
				<string>acircumflex</string>
				<string>adieresis</string>
				<string>agrave</string>
				<string>amacron</string>
				<string>aogonek</string>
				<string>aring</string>
				<string>atilde</string>
				<string>ae</string>
				<string>b</string>
				<string>c</string>
				<string>cacute</string>
				<string>ccaron</string>
				<string>ccedilla</string>
				<string>d</string>
				<string>eth</string>
				<string>dcaron</string>
				<string>dcroat</string>
				<string>e</string>
				<string>eacute</string>
				<string>ecaron</string>
				<string>ecircumflex</string>
				<string>edieresis</string>
				<string>edotaccent</string>
				<string>egrave</string>
				<string>emacron</string>
				<string>eogonek</string>
				<string>f</string>
				<string>g</string>
				<string>gbreve</string>
				<string>gcommaaccent</string>
				<string>h</string>
				<string>i</string>
				<string>dotlessi</string>
				<string>iacute</string>
				<string>icircumflex</string>
				<string>idieresis</string>
				<string>igrave</string>
				<string>imacron</string>
				<string>iogonek</string>
				<string>j</string>
				<string>k</string>
				<string>kcommaaccent</string>
				<string>l</string>
				<string>lcaron</string>
				<string>lcommaaccent</string>
				<string>lslash</string>
				<string>m</string>
				<string>n</string>
				<string>nacute</string>
				<string>ncaron</string>
				<string>ncommaaccent</string>
				<string>ntilde</string>
				<string>o</string>
				<string>oacute</string>
				<string>ocircumflex</string>
				<string>odieresis</string>
				<string>ograve</string>
				<string>ohungarumlaut</string>
				<string>omacron</string>
				<string>oslash</string>
				<string>otilde</string>
				<string>oe</string>
				<string>p</string>
				<string>thorn</string>
				<string>q</string>
				<string>r</string>
				<string>racute</string>
				<string>rcaron</string>
				<string>rcommaaccent</string>
				<string>s</string>
				<string>sacute</string>
				<string>scaron</string>
				<string>scedilla</string>
				<string>scommaaccent</string>
				<string>t</string>
				<string>tcaron</string>
				<string>tcedilla</string>
				<string>tcommaaccent</string>
				<string>u</string>
				<string>uacute</string>
				<string>ucircumflex</string>
				<string>udieresis</string>
				<string>ugrave</string>
				<string>uhungarumlaut</string>
				<string>umacron</string>
				<string>uogonek</string>
				<string>uring</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>y</string>
				<string>yacute</string>
				<string>ydieresis</string>
				<string>z</string>
				<string>zacute</string>
				<string>zcaron</string>
				<string>zdotaccent</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>asterisk</string>
				<string>colon</string>
				<string>comma</string>
				<string>ellipsis</string>
				<string>exclam</string>
				<string>period</string>
				<string>question</string>
				<string>questiondown</string>
				<string>quotedbl</string>
				<string>quotesingle</string>
				<string>semicolon</string>
				<string>slash</string>
				<string>underscore</string>
				<string>bracketleft</string>
				<string>bracketright</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>emdash</string>
				<string>endash</string>
				<string>hyphen</string>
				<string>guillemetleft</string>
				<string>guillemetright</string>
				<string>guilsinglleft</string>
				<string>guilsinglright</string>
				<string>quotedblbase</string>
				<string>quotedblleft</string>
				<string>quotedblright</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>quotesinglbase</string>
				<string>space</string>
				<string>dollar</string>
				<string>euro</string>
				<string>sterling</string>
				<string>yen</string>
				<string>percent</string>
				<string>at</string>
				<string>ampersand</string>
				<string>acute</string>
				<string>breve</string>
				<string>caron</string>
				<string>cedilla</string>
				<string>circumflex</string>
				<string>dieresis</string>
				<string>dotaccent</string>
				<string>grave</string>
				<string>hungarumlaut</string>
				<string>macron</string>
				<string>ogonek</string>
				<string>ring</string>
				<string>tilde</string>
				<string>bowl</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>h</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>t</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>asterisk</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>space</string>
		<string>dollar</string>
		<string>euro</string>
		<string>sterling</string>
		<string>yen</string>
		<string>percent</string>
		<string>at</string>
		<string>ampersand</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>bowl</string>
	</array>
</dict>
</plist>
