<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
		<string>germandbls</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>uni0122</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>uni0145</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>uni0136</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lslash</string>
		<string>uni013B</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>uni015E</string>
		<string>uni0218</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_L_Thorn</key>
	<array>
		<string>Thorn</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>J</string>
		<string>U</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_dcaron</key>
	<array>
		<string>dcaron</string>
		<string>lcaron.ss02</string>
	</array>
	<key>@MMK_L_dcroat</key>
	<array>
		<string>dcroat</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>ae</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_eth</key>
	<array>
		<string>eth</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>uni0123</string>
	</array>
	<key>@MMK_L_g.ss01</key>
	<array>
		<string>g.ss01</string>
		<string>gbreve.ss01</string>
		<string>uni0123.ss01</string>
	</array>
	<key>@MMK_L_guilsinglleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_L_guilsinglright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>uni00AD</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
		<string>fi</string>
		<string>g_idieresis</string>
	</array>
	<key>@MMK_L_icircumflex</key>
	<array>
		<string>icircumflex</string>
	</array>
	<key>@MMK_L_idieresis</key>
	<array>
		<string>idieresis</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>aogonek_j</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>uni0137</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>l</string>
		<string>lacute</string>
		<string>uni013C</string>
		<string>fl</string>
	</array>
	<key>@MMK_L_l.ss02</key>
	<array>
		<string>d</string>
		<string>l.ss02</string>
		<string>lacute.ss02</string>
	</array>
	<key>@MMK_L_lcaron</key>
	<array>
		<string>lcaron</string>
	</array>
	<key>@MMK_L_lslash</key>
	<array>
		<string>lslash</string>
	</array>
	<key>@MMK_L_lslash.ss02</key>
	<array>
		<string>lslash.ss02</string>
	</array>
	<key>@MMK_L_minus</key>
	<array>
		<string>divide</string>
		<string>minus</string>
		<string>plus</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>h</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>uni0146</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_ordfeminine</key>
	<array>
		<string>ordfeminine</string>
	</array>
	<key>@MMK_L_ordmascuuine</key>
	<array>
		<string>ordmasculine</string>
	</array>
	<key>@MMK_L_parenleft</key>
	<array>
		<string>bracketleft</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_q</key>
	<array>
		<string>q</string>
	</array>
	<key>@MMK_L_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_L_quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_L_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>uni015F</string>
		<string>uni0219</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_L_three</key>
	<array>
		<string>three</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_w</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_L_zero</key>
	<array>
		<string>zero</string>
		<string>nine</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_R_AE</key>
	<array>
		<string>AE</string>
	</array>
	<key>@MMK_R_Eth</key>
	<array>
		<string>Eth</string>
		<string>Dcroat</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>K</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>uni0136</string>
		<string>uni013B</string>
		<string>uni0145</string>
		<string>uni0156</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_R_Lslash</key>
	<array>
		<string>Lslash</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
		<string>uni0122</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>uni015E</string>
		<string>uni0218</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aogonek_j</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>uni0123</string>
		<string>g_idieresis</string>
	</array>
	<key>@MMK_R_g.ss01</key>
	<array>
		<string>g.ss01</string>
		<string>gbreve.ss01</string>
		<string>uni0123.ss01</string>
	</array>
	<key>@MMK_R_guilsinglleft</key>
	<array>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_R_guilsinglright</key>
	<array>
		<string>guillemotright</string>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>uni00AD</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
	</array>
	<key>@MMK_R_icircumflex</key>
	<array>
		<string>icircumflex</string>
	</array>
	<key>@MMK_R_idieresis</key>
	<array>
		<string>idieresis</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>l</string>
	</array>
	<key>@MMK_R_l.ss02</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>germandbls</string>
		<string>uni0137</string>
		<string>uni013C</string>
		<string>l.ss02</string>
		<string>lacute.ss02</string>
		<string>lcaron.ss02</string>
	</array>
	<key>@MMK_R_lslash</key>
	<array>
		<string>lslash</string>
		<string>lslash.ss02</string>
	</array>
	<key>@MMK_R_minus</key>
	<array>
		<string>divide</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>plus</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0146</string>
		<string>uni0157</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>q</string>
	</array>
	<key>@MMK_R_ordfeminine</key>
	<array>
		<string>ordfeminine</string>
	</array>
	<key>@MMK_R_ordmasculine</key>
	<array>
		<string>ordmasculine</string>
	</array>
	<key>@MMK_R_p</key>
	<array>
		<string>p</string>
	</array>
	<key>@MMK_R_parenleft</key>
	<array>
		<string>bracketleft</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_quoteleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>@MMK_R_quoteright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>uni015F</string>
		<string>uni0219</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_R_thorn</key>
	<array>
		<string>thorn</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_R_w</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_zero</key>
	<array>
		<string>zero</string>
		<string>six</string>
	</array>
</dict>
</plist>
