<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-50</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-73</integer>
		<key>@MMK_R_W</key>
		<integer>-50</integer>
		<key>@MMK_R_X</key>
		<integer>30</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>40</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-60</integer>
		<key>question</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>slash</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>10</integer>
		<key>@MMK_R_W</key>
		<integer>18</integer>
		<key>@MMK_R_hyphen</key>
		<integer>0</integer>
		<key>slash</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_X</key>
		<integer>10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>20</integer>
		<key>slash</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>50</integer>
		<key>@MMK_R_colon</key>
		<integer>-40</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-90</integer>
		<key>@MMK_R_quoteright</key>
		<integer>20</integer>
		<key>slash</key>
		<integer>-140</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-7</integer>
		<key>@MMK_R_X</key>
		<integer>11</integer>
		<key>@MMK_R_hyphen</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_I</key>
	<dict>
		<key>slash</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-90</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-79</integer>
		<key>@MMK_R_W</key>
		<integer>-77</integer>
		<key>@MMK_R_X</key>
		<integer>20</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_colon</key>
		<integer>40</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_period</key>
		<integer>40</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-50</integer>
		<key>question</key>
		<integer>-80</integer>
		<key>slash</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-46</integer>
		<key>@MMK_R_V</key>
		<integer>-20</integer>
		<key>@MMK_R_X</key>
		<integer>-26</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_Z</key>
		<integer>-30</integer>
		<key>@MMK_R_period</key>
		<integer>-40</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-40</integer>
		<key>braceright</key>
		<integer>-20</integer>
		<key>bracketright</key>
		<integer>-30</integer>
		<key>parenright</key>
		<integer>-30</integer>
		<key>slash</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_X</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-110</integer>
		<key>slash</key>
		<integer>-130</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-50</integer>
		<key>slash</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_J</key>
		<integer>-60</integer>
		<key>@MMK_R_O</key>
		<integer>-46</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>40</integer>
		<key>@MMK_R_W</key>
		<integer>40</integer>
		<key>@MMK_R_X</key>
		<integer>20</integer>
		<key>@MMK_R_Y</key>
		<integer>30</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-80</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>10</integer>
		<key>@MMK_R_quoteright</key>
		<integer>30</integer>
		<key>slash</key>
		<integer>-150</integer>
	</dict>
	<key>@MMK_L_Thorn</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_J</key>
		<integer>-40</integer>
		<key>@MMK_R_X</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>slash</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-73</integer>
		<key>@MMK_R_J</key>
		<integer>-70</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>40</integer>
		<key>@MMK_R_V</key>
		<integer>30</integer>
		<key>@MMK_R_W</key>
		<integer>40</integer>
		<key>@MMK_R_X</key>
		<integer>30</integer>
		<key>@MMK_R_Y</key>
		<integer>30</integer>
		<key>@MMK_R_colon</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-70</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>50</integer>
		<key>@MMK_R_quoteright</key>
		<integer>60</integer>
		<key>slash</key>
		<integer>-130</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_J</key>
		<integer>-60</integer>
		<key>@MMK_R_T</key>
		<integer>40</integer>
		<key>@MMK_R_V</key>
		<integer>40</integer>
		<key>@MMK_R_W</key>
		<integer>40</integer>
		<key>@MMK_R_X</key>
		<integer>30</integer>
		<key>@MMK_R_Y</key>
		<integer>10</integer>
		<key>@MMK_R_colon</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_period</key>
		<integer>-60</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>50</integer>
		<key>@MMK_R_quoteright</key>
		<integer>50</integer>
		<key>slash</key>
		<integer>-113</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>30</integer>
		<key>@MMK_R_J</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-26</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>20</integer>
		<key>@MMK_R_U</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>30</integer>
		<key>@MMK_R_W</key>
		<integer>30</integer>
		<key>@MMK_R_X</key>
		<integer>30</integer>
		<key>@MMK_R_colon</key>
		<integer>20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_period</key>
		<integer>23</integer>
		<key>@MMK_R_quoteright</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-110</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>30</integer>
		<key>@MMK_R_V</key>
		<integer>30</integer>
		<key>@MMK_R_W</key>
		<integer>10</integer>
		<key>@MMK_R_colon</key>
		<integer>-50</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>-90</integer>
		<key>@MMK_R_quoteright</key>
		<integer>30</integer>
		<key>slash</key>
		<integer>-150</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-50</integer>
		<key>@MMK_R_period</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>19</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-40</integer>
		<key>question</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>slash</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_dcaron</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_colon</key>
		<integer>20</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_period</key>
		<integer>20</integer>
		<key>question</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_quoteright</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_period</key>
		<integer>-60</integer>
		<key>@MMK_R_quoteright</key>
		<integer>60</integer>
		<key>bracketright</key>
		<integer>50</integer>
		<key>parenright</key>
		<integer>40</integer>
		<key>slash</key>
		<integer>-61</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>20</integer>
		<key>@MMK_R_period</key>
		<integer>20</integer>
		<key>@MMK_R_quoteright</key>
		<integer>40</integer>
		<key>braceright</key>
		<integer>20</integer>
		<key>bracketright</key>
		<integer>30</integer>
		<key>parenright</key>
		<integer>30</integer>
		<key>slash</key>
		<integer>50</integer>
	</dict>
	<key>@MMK_L_g.ss01</key>
	<dict>
		<key>@MMK_R_g.ss01</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_hyphen</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_J</key>
		<integer>-30</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_W</key>
		<integer>-30</integer>
		<key>@MMK_R_X</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_Z</key>
		<integer>-60</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-40</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-30</integer>
		<key>five</key>
		<integer>-10</integer>
		<key>one</key>
		<integer>-70</integer>
		<key>seven</key>
		<integer>-60</integer>
		<key>three</key>
		<integer>-30</integer>
		<key>two</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_i</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-14</integer>
		<key>slash</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_colon</key>
		<integer>30</integer>
		<key>@MMK_R_quoteright</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_l</key>
	<dict>
		<key>@MMK_R_colon</key>
		<integer>30</integer>
		<key>@MMK_R_period</key>
		<integer>40</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_l.ss02</key>
	<dict>
		<key>@MMK_R_quoteleft</key>
		<integer>0</integer>
		<key>slash</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_lslash</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_minus</key>
	<dict>
		<key>one</key>
		<integer>-10</integer>
		<key>seven</key>
		<integer>-50</integer>
		<key>three</key>
		<integer>-60</integer>
		<key>two</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_quoteright</key>
		<integer>-40</integer>
		<key>slash</key>
		<integer>-21</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-26</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-20</integer>
		<key>braceright</key>
		<integer>-20</integer>
		<key>bracketright</key>
		<integer>-10</integer>
		<key>question</key>
		<integer>-30</integer>
		<key>slash</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_parenleft</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_period</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>40</integer>
		<key>@MMK_R_AE</key>
		<integer>40</integer>
		<key>@MMK_R_Lslash</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-80</integer>
		<key>@MMK_R_U</key>
		<integer>-50</integer>
		<key>@MMK_R_V</key>
		<integer>-70</integer>
		<key>@MMK_R_W</key>
		<integer>-60</integer>
		<key>@MMK_R_X</key>
		<integer>20</integer>
		<key>@MMK_R_Y</key>
		<integer>-90</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_f</key>
		<integer>-40</integer>
		<key>@MMK_R_g</key>
		<integer>10</integer>
		<key>@MMK_R_j</key>
		<integer>-14</integer>
		<key>@MMK_R_l.ss02</key>
		<integer>-30</integer>
		<key>@MMK_R_lslash</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-26</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-60</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>10</integer>
		<key>@MMK_R_t</key>
		<integer>-60</integer>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-70</integer>
		<key>@MMK_R_w</key>
		<integer>-60</integer>
		<key>@MMK_R_x</key>
		<integer>15</integer>
		<key>@MMK_R_y</key>
		<integer>-80</integer>
		<key>@MMK_R_z</key>
		<integer>10</integer>
		<key>@MMK_R_zero</key>
		<integer>-20</integer>
		<key>five</key>
		<integer>0</integer>
		<key>four</key>
		<integer>-90</integer>
		<key>one</key>
		<integer>-100</integer>
		<key>seven</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_q</key>
	<dict>
		<key>slash</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_J</key>
		<integer>-100</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>30</integer>
		<key>@MMK_R_V</key>
		<integer>50</integer>
		<key>@MMK_R_W</key>
		<integer>60</integer>
		<key>@MMK_R_X</key>
		<integer>20</integer>
		<key>@MMK_R_Y</key>
		<integer>30</integer>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>20</integer>
		<key>@MMK_R_x</key>
		<integer>10</integer>
		<key>@MMK_R_z</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_quoteright</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_T</key>
		<integer>40</integer>
		<key>@MMK_R_V</key>
		<integer>60</integer>
		<key>@MMK_R_W</key>
		<integer>40</integer>
		<key>@MMK_R_X</key>
		<integer>20</integer>
		<key>@MMK_R_Y</key>
		<integer>30</integer>
		<key>@MMK_R_g</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-22</integer>
		<key>@MMK_R_period</key>
		<integer>-60</integer>
		<key>@MMK_R_v</key>
		<integer>10</integer>
		<key>@MMK_R_w</key>
		<integer>10</integer>
		<key>@MMK_R_x</key>
		<integer>10</integer>
		<key>@MMK_R_y</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-50</integer>
		<key>slash</key>
		<integer>-90</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_colon</key>
		<integer>40</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>20</integer>
		<key>@MMK_R_quoteright</key>
		<integer>40</integer>
		<key>parenright</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>slash</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_period</key>
		<integer>-80</integer>
		<key>@MMK_R_quoteright</key>
		<integer>20</integer>
		<key>question</key>
		<integer>30</integer>
		<key>slash</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_w</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-60</integer>
		<key>@MMK_R_quoteright</key>
		<integer>10</integer>
		<key>slash</key>
		<integer>-80</integer>
	</dict>
	<key>@MMK_L_x</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_period</key>
		<integer>15</integer>
		<key>@MMK_R_quoteright</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_period</key>
		<integer>20</integer>
		<key>@MMK_R_quoteright</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_zero</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-20</integer>
		<key>three</key>
		<integer>-10</integer>
	</dict>
	<key>A</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>40</integer>
	</dict>
	<key>ampersand</key>
	<dict>
		<key>space</key>
		<integer>-24</integer>
	</dict>
	<key>braceleft</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
	</dict>
	<key>dcaron</key>
	<dict>
		<key>@MMK_R_colon</key>
		<integer>10</integer>
		<key>@MMK_R_period</key>
		<integer>-30</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>three</key>
		<integer>-10</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>nine</key>
		<integer>-10</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>nine</key>
		<integer>-30</integer>
		<key>seven</key>
		<integer>-20</integer>
		<key>two</key>
		<integer>-40</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>seven</key>
		<integer>20</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-50</integer>
		<key>@MMK_R_minus</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-80</integer>
		<key>four</key>
		<integer>-90</integer>
		<key>seven</key>
		<integer>70</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_I</key>
		<integer>-60</integer>
		<key>@MMK_R_J</key>
		<integer>-90</integer>
		<key>@MMK_R_O</key>
		<integer>-60</integer>
		<key>@MMK_R_S</key>
		<integer>-50</integer>
		<key>@MMK_R_U</key>
		<integer>-40</integer>
		<key>@MMK_R_V</key>
		<integer>10</integer>
		<key>@MMK_R_W</key>
		<integer>20</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-50</integer>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
		<key>@MMK_R_g</key>
		<integer>-80</integer>
		<key>@MMK_R_i</key>
		<integer>-20</integer>
		<key>@MMK_R_j</key>
		<integer>-20</integer>
		<key>@MMK_R_l.ss02</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-68</integer>
		<key>@MMK_R_o</key>
		<integer>-78</integer>
		<key>@MMK_R_p</key>
		<integer>-60</integer>
		<key>@MMK_R_s</key>
		<integer>-70</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-80</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_w</key>
		<integer>-10</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
		<key>@MMK_R_z</key>
		<integer>-30</integer>
		<key>slash</key>
		<real>-62.799999237060547</real>
	</dict>
	<key>space</key>
	<dict>
		<key>ampersand</key>
		<integer>-24</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-40</integer>
		<key>@MMK_R_minus</key>
		<integer>0</integer>
		<key>four</key>
		<integer>-40</integer>
	</dict>
</dict>
</plist>
